# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# Java
target/
*.class

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# ML artifacts
*.pkl
*.joblib

# Secrets
*.pem
*.key