:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #e7e1e1;
  --border: #e5e4e7;
  --accent: #aa3bff;
}
body {
  color: var(--text);
  background: var(--bg);
}

.card {
  border: 1px solid var(--border);
}